war/src/main/resources/wsdl/ppwsa.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://119.82.253.240/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://119.82.253.240/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PPWSA Billing WebServices v1.0905&lt;br /&gt;
        Compliant with SOAP.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://119.82.253.240/">
      <s:element name="WebServiceResponseTest">
        <s:complexType />
      </s:element>
      <s:element name="WebServiceResponseTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebServiceResponseTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerBills">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginInfo" type="tns:LoginInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BankCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerBillsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerBillsResult" type="tns:CustomerBills" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerBills">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BillNumbers" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBillInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BillNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginInfo" type="tns:LoginInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillInfoResult" type="tns:BillInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingPeriod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateBill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BillPaymentInfo" type="tns:BillPaymentInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="LoginInfo" type="tns:LoginInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="Checksum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillPaymentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CustomerNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaymentDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateBillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBillResult" type="tns:UpdateStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WebServiceResponseTestSoapIn">
    <wsdl:part name="parameters" element="tns:WebServiceResponseTest" />
  </wsdl:message>
  <wsdl:message name="WebServiceResponseTestSoapOut">
    <wsdl:part name="parameters" element="tns:WebServiceResponseTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerBillsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerBills" />
  </wsdl:message>
  <wsdl:message name="GetCustomerBillsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerBillsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillInfo" />
  </wsdl:message>
  <wsdl:message name="GetBillInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBillSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBill" />
  </wsdl:message>
  <wsdl:message name="UpdateBillSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBillResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="WebServiceResponseTest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Testing service to verify Web Service is up</wsdl:documentation>
      <wsdl:input message="tns:WebServiceResponseTestSoapIn" />
      <wsdl:output message="tns:WebServiceResponseTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get &lt;b&gt;List of Bills&lt;/b&gt; based on &lt;b&gt;Customer Number&lt;/b&gt;. </wsdl:documentation>
      <wsdl:input message="tns:GetCustomerBillsSoapIn" />
      <wsdl:output message="tns:GetCustomerBillsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBillInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get &lt;b&gt;Bill Information&lt;/b&gt; based on &lt;b&gt;Bill Number&lt;/b&gt;. </wsdl:documentation>
      <wsdl:input message="tns:GetBillInfoSoapIn" />
      <wsdl:output message="tns:GetBillInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBill">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update &lt;b&gt;Bill Payment Information&lt;/b&gt; to PPWSA.</wsdl:documentation>
      <wsdl:input message="tns:UpdateBillSoapIn" />
      <wsdl:output message="tns:UpdateBillSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServiceResponseTest">
      <soap:operation soapAction="http://119.82.253.240/WebServiceResponseTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <soap:operation soapAction="http://119.82.253.240/GetCustomerBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillInfo">
      <soap:operation soapAction="http://119.82.253.240/GetBillInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBill">
      <soap:operation soapAction="http://119.82.253.240/UpdateBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WebServiceResponseTest">
      <soap12:operation soapAction="http://119.82.253.240/WebServiceResponseTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerBills">
      <soap12:operation soapAction="http://119.82.253.240/GetCustomerBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillInfo">
      <soap12:operation soapAction="http://119.82.253.240/GetBillInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBill">
      <soap12:operation soapAction="http://119.82.253.240/UpdateBill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">PPWSA Billing WebServices v1.0905&lt;br /&gt;
        Compliant with SOAP.</wsdl:documentation>
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://webservices.ppwsa.com.kh/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://webservices.ppwsa.com.kh/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>